@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Oxygen:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Rufina:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600|Quattrocento:400,700');
//font-family: 'Oswald', sans-serif;
//font-family: 'Quattrocento', serif;
/*==========================================================================
Global Variables
==========================================================================*/
$icon-lineWidth: .25em;
$main-font-color: #112725;
$lighten: 20%;
@import 'animations.scss';
/*==========================================================================
Base styles:
==========================================================================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    letter-spacing: .02em;
    -webkit-font-smoothing: antialiased;
    font-family: 'Oxygen', sans-serif;
    font-size: 1em;
    color: $main-font-color;
    overflow-x: hidden;
  }
img {
    max-width: 100%;
  }
main {
  @extend %animation;
  display: flex;
  justify-content: center;
  background-color: #EDEDED;
  z-index: -2;
  padding-bottom: 40px;
}
a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}
/*==========================================================================
Navigation
==========================================================================*/
@import 'navBar.scss';
/*==========================================================================
Header
==========================================================================*/
@import 'header.scss';
/*==========================================================================
Content Buttons
==========================================================================*/
@import 'contentButtons.scss';
/*==========================================================================
Main Content
==========================================================================*/
@import 'threads.scss';
@import 'modalPopup.scss';
@import 'footer.scss';
